* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}


body {
    /*font-family: monospace;*/
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 14px;
    max-width: 480px;
    margin: 0 auto;
    padding: 20px
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

button {
    float: right;
}

li {
    margin: 5px 0;
}

#chatControls {
    overflow: auto;
    margin: 0 0 5px 0
}

#userlistSection {

    position: fixed;
    right: 50%;
    list-style: none;
    margin-right: 250px;
    background:   #F0F8FF;
    padding: 5px 10px;
    width: 150px;
    top: 11px;
}



#passphrase {
    border-radius: 10px;
    position: fixed;
    left: 50%;
    list-style: none;
    margin-left: 250px;
    background:  #F0F8FF;
    padding: 5px 10px;
    width: 150px;
    top: 11px;
}

#chat p {
    margin: 5px 0;
    font-weight: 300
}


#chat article {
    border-radius: 15px;
    border-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border: 3px ;
    position: relative;
    word-wrap: break-word;
}


#chat article:nth-child(odd) {
    background: #B0E0E6;
}

#chat article:nth-child(even) {
    background:   #FFA500;
}
#chat article:first-of-type {
    /* border-left-color: #74a377; */
    animation: enter .9s 1;
}


ul {
    list-style-type: none;
    padding-left: 0px;
}





@keyframes enter {
    from { transform: none;        }
    50%  { transform: scale(1.05); }
    to   { transform: none;        }
}